/* Estilo global */
body {
    
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Contenedor principal */
  
  
  /* Título de la noticia */
  .news-title {
    font-size: 2.1rem;
    font-weight: bold;
    text-align: center;
    color: #333;
  }
  
  /* Imagen de la noticia */
  .news-image {
    width: 100%;                 /* Mantiene el ancho completo */
    height: auto;                /* Mantiene la proporción original de la imagen */
    max-height: 500px;           /* Restringe la altura máxima (puedes ajustar este valor según lo que desees) */
    object-fit: fill;           /* Hace que la imagen cubra el contenedor sin distorsionarse */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-top: 20px;
}

.news-extra {
  width: 100%;                 /* Mantiene el ancho completo */
  max-height: 500px;           /* Restringe la altura máxima (puedes ajustar este valor según lo que desees) */
  object-fit: fill;           /* Hace que la imagen cubra el contenedor sin distorsionarse */

}
  
  /* Descripción de la noticia */
  .news-description {
    font-family: 'Arial', sans-serif;  /* Fuente más neutral y profesional */
    font-size: 1.1rem;  /* Tamaño de fuente un poco más grande para mejor legibilidad */
    color: #333;  /* Color de texto más oscuro para mejor contraste */
    line-height: 1.8;  /* Mayor altura de línea para mejorar la legibilidad */
    margin-top: 20px;
    margin-bottom: 20px;  /* Añadir espacio en la parte inferior para separar de otros elementos */
    text-align: justify;  /* Alineación justificada para un aspecto de párrafo limpio */
    text-indent: 30px;  /* Sangría al comienzo de cada párrafo */
    background-color: #f9f9f9;  /* Color de fondo suave para resaltar el área de texto */
    max-width: 800px;  /* Limitar el ancho máximo para que no se extienda demasiado */
    margin-left: auto;  /* Centrar el bloque de texto */
    margin-right: auto;  /* Centrar el bloque de texto */
    padding: 20px;  /* Añadir espacio interno para que el texto no esté pegado al borde */
  }
  
  
  /* Autor y fecha de la noticia */
  .news-author,
  .news-date {
    font-size: 0.9rem;
    color: #888;
    margin-top: 0px;
    text-align: center;
  }
  
  /* Estilo para el texto de 'noticia no encontrada' */
  .not-found {
    text-align: center;
    font-size: 1.2rem;
    color: #ff0000;
  }
  

  .titulo-extra{
    font-size: 1.4rem;
    margin-top: 25px;
  }

  .noticiaExtra {
    margin-top: 20px;
    transition: background-color 0.3s ease;  /* Transición suave */
    font-size: 0.8rem;
    max-width: 300px;              /* Define el tamaño de la columna secundaria */
    padding: 0px;                  /* Elimina el relleno */
    background-color: #e5e5e5;     /* Fondo para diferenciarla de la columna principal */
    border-radius: 0px;   
  }
  
  .noticiaExtra:hover {
    background-color: rgba(0, 0, 0, 0.3);  /* Un color más oscuro (ajústalo según lo desees) */
  }

  